<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Deno+Hono+HTMX</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://unpkg.com/htmx.org@1.9.5"
        integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
        crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script> -->
    <script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
    <!-- <script src="https://unpkg.com/htmx.org/dist/ext/loading-states.js"></script> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- <link href="./css/style.css" rel="stylesheet"> -->
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/d3"></script>
    <script>
        function w3_open() {
            // document.getElementById("right-sidebar").style.display = "block";
            let sidebar = document.getElementById("right-sidebar");
            sidebar.classList.remove("w3-hide");

            // INFO: animation recalc
            let main = document.body.querySelector(".w3-main");
            main.classList.remove("w3-animate-left")
            main.offsetWidth
            main.style.marginRight = "30%";
            main.classList.add("w3-animate-right")
        }

        function w3_close() {
            // document.getElementById("topbarId").style.marginLeft = "0px";
            let input_form = document.getElementById("search-input");
            let element = document.getElementById("right-sidebar");
            element.classList.toggle("w3-hide");
            input_form.value = null;
            let main = document.body.querySelector(".w3-main");
            // main.style.marginRight = "0";
            main.classList.remove("w3-animate-right")
            main.offsetWidth
            main.style.marginRight = "0%";
            main.classList.add("w3-animate-left")
            // document.getElementById("left-sidebar").style.display = "none";
        }
    </script>
    <!-- TODO: refactor this shit and -->

    <div class="w3-sidebar w3-container w3-pale-blue w3-border-right" style="width: 15%;" id="left-sidebar"
            hx-trigger="load" hx-get="/left">
    </div>

    <div class="w3-sidebar w3-container w3-animate-right w3-hide w3-pale-blue w3-border-left" id="right-sidebar"
        style="right:0;width: 30%;">
        <div hx-on:click="w3_close()" class="w3-button w3-display-topleft w3-container w3-hover-red">&times;</div>
        <div id="search-result" class="w3-panel w3-margin-top"></div>
    </div>

    <div class="w3-row-padding w3-main" style="margin-top:3em;margin-left: 15%;height: 94vh;"
            hx-trigger="load" hx-get="/svg" hx-swap="innerHTML">
    </div>

    <script>
// document.addEventListener('htmx:wsConnecting', function (event) {
//   console.log("Connecting to nodered");
// });
//
// function closeWebSocket() {
//   var ws = document.getElementById("left-sidebar").ws;
//   ws.close();
// }
//
// document.addEventListener("htmx:wsOpen", function(event) {
//   // sends sync event to timers after opening socket 
//   console.log("OPENED");
//   // var socket = event.detail.socketWrapper;
//   // socket.send('{"msg":"sync","all":"true"}',event.detail.elt);
// });
//
// document.addEventListener('htmx:wsError', function (event) {
//   console.error('WebSocket connection error:', event.detail.elt);
// });
//
// document.addEventListener("htmx:wsBeforeMessage", (event)=>{
//   // console.log(event.detail.message);
// });
    </script>

</body>

</html>
